data/
results/plots/*
sigrecon/
scripts/archive
scripts/*/archive
scripts/*/*/archive
scripts/scGPT
scripts/stack
scripts/07_GTEX
scripts/02_PerturbSeq/scgpt/wandb
scripts/02_PerturbSeq/scgpt/save
scripts/02_PerturbSeq/scgpt/data
scripts/*/.ipynb_checkpoints
scripts/*/*/.ipynb_checkpoints
*.o*
*.log